@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;500;700&display=swap");

:root{
    --Very-Dark-Magenta: hsl(300, 43%, 22%);
    --Soft-Pink: hsl(333, 80%, 67%);
    --Dark-Grayish-Magenta: hsl(303, 10%, 53%);
    --Light-Grayish-Magenta: hsl(300, 24%, 96%);
    --White: hsl(0, 0%, 100%);
}   

/* CSS reset */

*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

ul[role='list'],
ol[role='list'] {
  list-style: none;
}

html:focus-within {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

img,
picture {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

body {
    font-size: .935rem;
    font-family: 'League Spartan', sans-serif;
    font-weight: 500;
}

main {
    background:url("./images/bg-pattern-top-desktop.svg"),
            url("./images/bg-pattern-bottom-desktop.svg");
    background-position: top left, bottom right;
    background-repeat: no-repeat;
    min-height: 100vh;
    min-width:100vw;
    padding: 6rem 11rem 6rem 11rem;
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 10% 1fr;
}


h1 {
    font-size: 3rem;
    color:var(--Very-Dark-Magenta);
    font-weight:700;
    line-height: 1;
    padding-right:40%;
}

.text-container {
  grid-row:1/1;
  grid-column: 1/1;
}

.text-container p {
  margin-top: 1rem;
  padding-right:30%;
  color: var(--Dark-Grayish-Magenta);
  font-size:1rem;
}

.rating-container {
  grid-row: 1/1;
  grid-column: 2/2;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly; 
}

.rating {
  display: flex;
  align-items: center;
  background-color: var(--Light-Grayish-Magenta);
  border-radius: .7rem;
  height: 22%;
  width:80%;
}

.rating p {
  color:var(--Very-Dark-Magenta);
  font-weight: 700;
  font-size: 1.1rem;
}

.star-container {
  display: flex;
}

.star {
  max-height: 1rem;
  margin-right: .5rem;
}

.star:nth-of-type(1) {
  margin-left: 2rem;
}

.rating p {
  margin-left:1.5rem;
  font-weight: 700;
}

.first {
  align-self: start;
}

.second {
  align-self: center;
}

.third {
  align-self: flex-end;
}

.opinion-container {
    grid-column:1/-1;
    grid-row: 3/3;
    display: flex; 
    justify-content: space-between;
}

article { 
  width:32%;
  height:90%;
  color: var(--White);
  background-color: var(--Very-Dark-Magenta);
  padding:2rem;
  border-radius: .6rem;
}

article h2 {
  font-size: 1rem;
  line-height: 1;
}

.verified-buyer {
  line-height: 1;
  margin-bottom: 2rem;
  color: var(--Soft-Pink);
}

.profile-picture {
  float: left;
  max-height: 2.2rem;
  border-radius: 50%;
  margin-right:1rem;
}

@media (max-width:1200px) {
  main{
    padding: 4rem 2rem 10rem 2rem;
    grid-template-columns: 40% 1fr;
  }

  h1 {
    font-size: 2.5rem;
  }

  .rating {
  width:80%;
  min-width: 200px;
  justify-content: center;
  }

  .star:nth-of-type(1) {
    margin-left: .5rem;
  }

  .rating p {
    margin-left:1rem;
    font-size: 1rem;
  }
  .star {
    margin-right: .1rem;
  }
}

@media (max-width:750px) {
    * {
      max-width: 450px;
    }

    main {
      padding: 4rem 2rem 10rem 2rem;
      grid-template-columns: 1fr;
      grid-template-rows: 23% 25% 1fr;
      margin-bottom: 8rem;
      justify-items: center;
      background:url("./images/bg-pattern-top-mobile.svg"),
                url("./images/bg-pattern-bottom-mobile.svg");
      background-position: top left, bottom right;
      background-repeat: no-repeat;
    }

    .text-container {
      grid-column: -1/1;
      grid-row: 1,1;    
    }

    h1 {
      text-align: center;
      padding: 0;
      font-size: 2.5rem;
    }

    .text-container p {
      text-align: center;
      padding: 0;
    }

    .rating-container {
      grid-column: -1/1;
      grid-row-start: 2;
      grid-row-end: 2;     
    }

    .rating-container{
      width: 100%;
    }

    .rating {
      width:100%;
      height: 28%;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
    }

    .star:nth-of-type(1) {
      margin-left: 0;
    }

    .star-container {
      margin: 0;
    }

    .rating p {
      width: 100%;
       margin: 0;
       text-align: center;
    }

    .opinion-container {
      grid-column: 1/2;
      grid-row: 3/-1;
      flex-direction: column;
      justify-content:space-evenly;
      height: 110%;     
    }

    article {
      width: 100%;
      height: 30%;
      align-self: center;
    }
}